.KonvaDrawer {
  width: 280px;
  height: 290px;
  display: block;
  margin: auto;

  @media screen and (max-width: 400px) {
    width: 220px;
    height: 220px;
  }
 
  @media screen and (min-width:770px) and (max-height:695px) {
    width: 150px;
    height:140px;
  }

  @media (min-width: 769px) and (max-height: 500px) {
    margin-right:30px;
    position:relative;
  }
}
