.GameSelector {
  height: 100px;
  width: 250px;
  /* background-color: papayawhip; */
  background-color: #D3D5D4;
  border: #03120E solid 2px;
  /* border: 2px rgb(161, 75, 13) solid; */
  border-radius: 10px;
}

