
.ContactForm {

    input, textarea {
        background-color: #d8d8d8;
      }


    .GrayBgColor {
        background-color: #adadad !important;
      }
    
    
    .DarkModalHeader {
      border-bottom: 1px solid black !important;
      background-color: #adadad !important;
    }

    .DarkModalFooter {
        border-top: none !important;
        background-color: #adadad !important;
    }

    .DefaultInputs {
        background-color: inherit i !important;
    }
}



  