
@import "~bootstrap/scss/bootstrap";
.modal-dialog {
    .modal-footer {
      border-top: none;
      width: 100%;
  
      button {
        width: 20%;
      }
  
      .bar.progress {
        width: 100%;
      }
    }
  
    div.modal-content {
      background-color: #eeeeee;
    }
  }
  