.MailDialog {
  height: 300px;
  width: 500px;
  position:fixed;
  top:40%;
  left: 35%;
  border: 2px solid;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
z-index: 1000;
background-color:whitesmoke;
border-radius: 10px;
}

input {
  margin: 20px 120px;
  width:50%;
  height: 30px;
}

textarea {
  margin: 10px 20px;
  width: 450px;
  height: 60%;
}

.Button {
  display: inline-block;
  color: blue;
}