.MailDialog {
  height: 350px;
  width: 500px;
  position:fixed;
  top:40%;
  left: 35%;
  border: 2px solid;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
z-index: 1000;
background-color:whitesmoke;
border-radius: 10px;
}

input {
  margin: 20px 20px;
  width:auto;
  height: 30px;
  display: inline-block;
  text-align: center;
}

textarea {
  margin: 10px 20px;
  width: 450px;
  height: 60%;
}

.SubmitButton {
  display: inline-block;
  color: green;
  position:relative;
  bottom:5px;
  left: 230px;
  font-size: 20px;
  width:70px;
  border: none;
  background-color: rgba(240, 248, 255, 0);
}

.SubmitButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.4s;
  border-radius: 50%;
}


.CancelIcon {
  font-size: 25px;
  color: #020e3b;
  position:absolute;
  margin-top: 5px;
  right: 10px;
}

.CancelIcon:hover {
  transform: scale(1.4);
  transition: transform 0.5s;
}