.HighScore {
  width: 220px;
  min-height: 200px;
  height: auto;
  background-color: papayawhip;
  border: 2px rgb(161, 75, 13) solid;
  border-radius: 10px;
}

.HighScore p {
  margin: 10px 10px;
  text-align: left;
} 

.FirstPlace {
  color: #ffbf00;
}
.SecondPlace {
  color:#c0c0c0;
}

.ThirdPlace {
  color: #a5682a;
}

.Refresh {
  margin-left:190px;
  margin-top: 10px;
  margin-bottom:10px;
  font-size: 20px;
  color:#03067e;
}

.Refresh:hover{
  cursor: pointer;
}