div.MuiDrawer-paper {
    background-color: #202020;   
}

.ListContainer {
  color: #adadad;
  svg {
    color: #adadad;
  }

  a {
    color: #adadad;
    text-decoration: none;
  }
}
