/* .NavigationBar {
  font-size: 30px;
  width: 100%;
  height: 120px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-image: linear-gradient(black,grey);
} */

.NavigationMenu {
  margin-top: 0;
  list-style: none;
  float: right;
  padding: 15px 20px;
}

.NavigationMenu li {
  text-decoration: none;
  display: inline-block;
  margin: 0px 40px;
}

@media (max-width: 768px) {
  .DesktopOnly {
    display: none;
  }

  .NavigationBar {
    height: 70px;
  }
}
