.lang-selector {
    position: absolute;
    font-size: 1.3em;
    top: 10px;
    right: 30px;
    color: inherit;
    display: inline-flex;
    align-items: center;

    .current-lang-img {
        width: 32px;
        height: 32px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .lang-dropdown {
  

        .dropdown-menu {
            background-color: transparent;
            border: none;

            img {
                margin-right: 10px;
            }

            a.dropdown-item {
                color: inherit;
                font-weight: initial;
                transition: font-weight 1s;
                &:hover {
                    //color: rgba(255, 255, 255, 0.75);
                    font-weight: bolder;
                    transition: font-weight 1s;
                    background: none;
                }
            }
        }

        #nav-dropdown {
            color: inherit;
        }
    }

    .open {
        &::after {
            content: "";
            border-bottom: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-top: 0;
            border-left: 0.3em solid transparent;
        }
    }


    @media (max-width: 769px) {
        font-size: 0.8em;
        right: 10px;

        display: none;

        img {
            height: 20px;
            width: auto;
        }

        .dropdown-menu {
            background-color: #0f0f0f;
            width: 60px;
            position: fixed !important;

        }
    }
}

.darkMode {
    color: #adadad !important;
}