.PuzzleLetter {
    width: 30px;
    font-size: 40px;
    height:40px;
    text-align: center;
    display: inline-block;
    margin: 0px 10px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

p {
    width: 30px;
    display: inline-block;
}



@media only screen and (min-width: 992px) and (max-width:1300px) {
    .PuzzleLetter {
      width: 20px;
      height: 30px;
  }
}