.PuzzleLetter {
  width: 30px;
  font-size: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  margin: 0px 10px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

p {
  width: 30px;
  display: inline-block;
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .PuzzleLetter {
    width: 20px;
    height: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .PuzzleLetter {
    width: 15px;
    height: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .PuzzleLetter {
    font-size: 25px;
    width: 25px;
    height: 25px;
    margin: 0px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
  .PuzzleLetter {
    font-size: 25px;
    width: 20px;
    height: 20px;
    margin: 0px;
  }
}

@media only screen and (max-width: 400px) {
  .PuzzleLetter {
    font-size: 25px;
    width: 18px;
    height: 20px;
    margin: 0px 3px;
  }
}
