.LanguageSelector {
  width: auto;
  display: inline-block;
  padding: 0px;
  margin: 10px 20px;
}

.LanguageSelector:hover {
  transform: scale(1.15);
  transition: scale 0.5s;
}

@media (max-width: 769px) {
  .LanguageSelector {
    height: auto;
    margin: 10px 15px;
  }
}
