.PuzzleContainer {
  width: 80vw;
  min-height: 435px;
  margin-top: 200px;
  position: absolute;
  left: 10vw;
  top: 75px;
  text-align: center;
  background-image: url("../../assets/img/papersheet.jpg");
  border-radius: 20px;
  background-size: cover;
}
