.PuzzleWord {
  height: 60px;
  z-index: 50;
  margin: 150px;
  margin-bottom: 50px;

  .InputRef {
    transition: transform;
    transform: translateY(-200vh);
  }

  .VirtualKeyboard {
    position: fixed;
    bottom: 0;
    z-index: 999999999;
  }

  @media only screen and (max-width: 400px) {
    margin-top: 32vh;
  }

  @media only screen and (max-height: 600px) {
    margin-top: 25vh;
  }
}
