.PuzzleHintContainer {
  width: 50px;
  height: 40px;
  position: absolute;
  left: 2vmax;
  margin: 20px 10px;
  display: block;
  font-size: 50px;
  color: #03067e;
}

.HintIcon:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}

.hover {
  background-color: papayawhip;
  width: 300px;
  height: auto;
  border: 2px black solid;
  border-radius: 10px;
  border-color: rgb(161, 75, 13);
  z-index: 300;
}

.quote {
  font-size: 16px;
  font-family: "India Flower", cursive;
  text-align: left;
  /* padding: 10px 15px; */
}

.NavArrow {
  display: inline-block;
  color: black;
  padding: 0px 20px;
  margin: 0px 20px;
  width: 30%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 40px;
}

.NavArrow:disabled {
  color: grey;
  opacity: 0.9;
}
