.PuzzleWordKonvaBox {
  @media (min-width: 769px) and (max-height: 600px) {
    display: inline-flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    // position: absolute;
    // top:50%;
    // left:50%;
    // transform: translate(-50%,-50%);

  }
}

.KeyboardBackdrop {
  position: fixed;
  top:0;
  left:0;
  min-height:100vh;
  width:100%;
}


.PuzzleWord {
  height: 60px;
  z-index: 50;
  margin: 80px auto 50px auto;
  //margin-bottom: 50px;
  width:80%;

  @media (min-width: 769px) and (max-height: 500px) {
    margin:0;
    max-width: 70%;
  }

  @media only screen and (max-width: 400px) {
    margin-top: 32vh;
  }

  @media only screen and (max-height: 600px) {
    margin-top: 90px;
  }

  @media only screen and (min-height: 500px) and (max-height: 540px) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 769px) {
    margin-top: 75px;
  }


}

.VirtualKeyboard {
  position: absolute;
  z-index: 20;
  bottom: 0;
}
