.PuzzleWord {
  height: 60px;
  z-index: 50;
  margin: 150px;
  padding-right: 200px;
}

.newWordBtn {
  font-family: "Indie Flower", cursive;
  background-color: transparent;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  color: #03067e;
  font-size: 45px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.newWordBtn:active {
  position: relative;
  top: 1px;
}

.InputRef {
  /* visibility: hidden; */
  transition: transform;
  transform: translateY(-200vh);
}

.VirtualKeyboard {
  position: fixed;
  bottom: 0;
  z-index: 999999999;
  /* transform: translateY(-100vh); */
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .PuzzleWord {
    margin-left: 120px;
    padding-right: 80px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .PuzzleWord {
    margin-left: 60px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  .PuzzleWord {
    margin-left: 20px;
    padding-right: 20px;
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .PuzzleWord {
    margin-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

@media only screen and (max-height: 600px) {
  .PuzzleWord {
    margin-top: 15vh;
  }
}
