.PuzzleControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
    height: 80px;
    margin: 0 20%;
    font-size: 30px; 
}

.newWordBtn {
    font-family: "Indie Flower", cursive;
    background-color: transparent;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    font-size: 45px;
    text-decoration: none;
    /* text-shadow: 0px 1px 0px #ffffff; */
  }
  
  .newWordBtn:active {
    position: relative;
    top: 1px;
  }