.MobileMenuBtn {
    height: 100%;
    color: rgb(97, 97, 97);
    width: auto;
    float: left;
    margin: 20px 40px;
    font-size: 50px;
}

.MobileMenuBtn:hover {
    cursor: pointer;
}


@media (min-width: 550px) {
    .MobileMenuBtn {
        display:none;
    }
}

