.StatusMail {
  width:80%;
  color: black;
  font-size: 20px;
  height: auto;
  text-align: center;
  margin:120px 50px;
  border-radius: 10px;
  p {
    width: 100%;
  }
}


.Green {
  background-color:rgba(30, 255, 0, 0.801);
  color: black;
}

.Red {
  background-color:rgba(255, 17, 0, 0.781);
  color: black;
}