.Footer {
  color: antiquewhite;
  background-color: #03067e;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(3,6,126,1) 100%);
  min-height: 150px;
  width:100%;
  margin: 0;
  padding:0;
  position: absolute;
  top:100vh;
  text-align: justify;
}

.Footer div {
  display: inline-block;
}

.Footer ul {
  list-style: none;
  padding: 0px 20px;
}

.Footer li {
  padding: 5px 0;
}

.InfoSection {
  margin-left:65%;
}

.QuickNav {
  margin-left:60px;

}