.Footer {
  color: antiquewhite;
  background-color: #020e3b;
  height: 190px;
  width: 100vw;
  padding: 0;
  display: block;
  left:0;
  transition: transform 1s, visibility 2s;
}

.Footer div {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.YandexAdnotation {
  float: left;
  padding-top: 150px;
  color: grey;
  margin-left: 20px;
}

.Footer ul {
  list-style: none;
  padding: 0px 10px;
  margin: 0;
}

.Footer li {
  padding: 5px 0;
  white-space: nowrap;
}

.InfoSection {
  margin-top: 0;
  margin-left: 65%;
}

.QuickNav {
  margin-left: 60px;
}

.GitIcon {
  color: white;
  font-size: 30px;
}

.GitIcon:hover {
  color: grey;
  transition: color 0.5s;
  cursor: pointer;
}

.ContactIcon {
  transition: transform 0.5s;
}

.ContactIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

li p {
  font-size: 10px;
  color: whitesmoke;
}

li p:hover {
  color: rgb(224, 216, 216);
}

li a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:visited,
a:hover {
  color: inherit;
}

h4 {
  margin: 8px 10px;
  color: grey;
  font-family: "Dosis", sans-serif;
  text-align: center;
}

.Hidden {
  visibility: hidden;
}

.Close {
  transform: translateY(35vh);
  /* visibility: hidden; */
}

.Open {
  transform: translateY(-38vh);
}

.OpenFooter {
  font-size: 55px;
  text-align: center;
  color: black;  
  margin-left:80vw;
  margin-bottom: 10%;
}


.FooterContainer {
  position:absolute;
  /* top: 970px; */
  left:0;
}

@media only screen and (min-width:401px) {
  .OpenFooter {
    display:none;
  }
}

@media only screen and (min-width: 992px) and (max-width:1300px)  {
  .InfoSection {
    margin-left: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width:992px)  {
  .InfoSection {
    margin-left: 40%;
  }
}

@media only screen and (min-width: 600px) and (max-width:768px)  {
  .InfoSection {
    margin-left: 20%;
  }
}

@media only screen and (min-width: 400px) and (max-width:599px)  {
  .InfoSection {
    margin-left: 0%;

  }
  .Footer li {
    height: 20px;
    margin: 10px 0px;
  }

  .YandexAdnotation {
    font-size: 10px;
  }

  .Footer {
    height: 30vmax;
  }
}

@media only screen and (max-width: 400px) {
  .InfoSection {
    margin-left: 5%;
  }

  .Footer li {
    height: 20px;
    margin: 10px 0px;
  }

  .YandexAdnotation {
    font-size: 10px;
    width:50px;
    text-align: center;
  }

  .QuickNav {
    margin-left: 10px;
  }

  .FooterContainer {
    top: 90vh;
  }

  .Footer {
    height: 38vh;
  }

}