.GameSelector {
  display:inline-block;
}

.HighScore {
  display: inline-block;
}

@media (max-width: 769px) {
    .HighScore {
    width: 100%;
    }

    .GameSelector {
      width: 100%;
    }
}