.ScoreInfo {
  padding:10px;
  height: 110px;
  width: 150px;
  color:#03120e;
  background-color: #adadad;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 3000;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  .BoldText {
    font-weight: bold; 
    font-size: 1.05em;
    margin-left:5px;
  }

  .TrophyIcon {
    font-size: 20px;
    margin-left: 10px;
  }
}

.visible {
  visibility: visible;
}

.TrophyPlace1 {
  color:#ffbf00;
}

.TrophyPlace2 {
  color: #c0c0c0;
}

.TrophyPlace3 {
  color: #a5682a;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.lightMode { 
  background-color: whitesmoke;
  box-shadow: 0px 5px 5px -3px #adadad, 0px 8px 10px 1px #adadad, 0px 3px 14px 2px #adadad; // copy from typograpy (hints container)
}
