.Layout {
  height: 100vh;
  width: 100vw;
  background-color:#0f0f0f;
  color: #adadad;

  @media only screen and (min-height: 1100px) {
    min-height: 100vh;
  }

  @media only screen and (max-width: 768px) {
    min-height: 100vh;
  }
}
